@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
	font-family: 'Inria Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

header {
	padding: 8px;
}

header > h1 {
	margin-top: 100px;
}

main {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: center;
	flex-direction: column;
	padding: 16px;
}

main.flex-start {
	justify-content: flex-start;
}

h1,
h2 {
	text-align: center;
}

ul {
	list-style: none;
	text-align: right;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	flex-wrap: wrap;
	gap: 10px;
}

ul > li {
	display: inline;
}

ul > li > a {
	display: inline-block;
	text-decoration: none;
	padding: 8px;
}

ul > li > a {
	border-radius: 32px;
	color: black;
	background-color: rgb(197, 194, 194);
}

footer > nav > ul {
	display: flex;
	justify-content: space-evenly;
}

footer > nav#navegacao-rede-social {
	width: 300px;
	margin: auto;
}

div.icone-rede-social > img {
	width: 32px;
	height: 32px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#main-inscricao {
	justify-content: flex-start;
}
p {
	margin-bottom: 2px;
	text-align: center;
	justify-content: center;
}

.imagens {
	border-radius: 50%;
	max-width: 100%;
	height: 130px;
	width: 130px;
}
.imagens-alinhar {
	display: flex;
	justify-content: space-around;
	height: auto;
	gap: 16px;
}
figure {
	margin: 4px;
}

figcaption {
	text-align: center;
}

details {
	width: 150px;
}

p#texto {
	padding-left: 200px;
	padding-right: 200px;
}
